.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
.col-sm-10{
    margin-top: 20px;
}
body {
    padding-top: 65px;
}
.container-fluid {
	text-align:left;
	width:100%;
	margin:0 auto 0 auto;
}
.customClass {
    width: 500px;
    margin: 0 auto;
}

