{% extends 'base_generic.html' %}

{% block pageTitle %}
    <h2 align="center">Add Group</h2>
    <hr>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            {% for message in messages %}
                <p class="text text-danger">{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% if form.name.errors %}
            <ul class="text text-danger">{{ form.name.errors }}</ul>
        {% endif %}
        {% for field in form %}
            <p>
            <label class="font-weight-bold" form="{{ field.name }}">{{ field.label }}</label>
            {{ field }}
            </p>
        {% endfor %}
        <button class="btn btn-outline-primary" type="submit">Add</button>
    </form>
{% endblock %}