{% extends 'base_generic.html' %}

{% block pageTitle %}
    <h2 align="center">Available Times for {{ request.user | title }}</h2>
    <hr>
{% endblock %}

{% block content %}
    <a href="{% url 'add-time' %}" class="btn btn-outline-primary">Add Availability</a>
    <br>
    <br>
    {% if availabletime_list %}
    <ul>
        {% for inst in availabletime_list %}
        <li>{{ inst }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>You have no available times.</p>
    {% endif %}

{% endblock %}